NODE_ENV=development
NEXT_PUBLIC_SITE_NAME=NOMBRE TEMPORAL DEL CLIENTE
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3004
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:55433/amazon_service_payload
POSTGRES_HOST_PORT=55433
PAYLOAD_SECRET=change-me-before-production
MEDIA_ROOT_DIR=./media
SPECIAL_MODULE_NAME=pendiente, dejar estructura reusable
